@use 'variables';



header {
    background-color: variables.$header-color;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.explanation {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.benefits {
    grid-column: 5 / 8;
    grid-row: 2 / 3;
}

.participation {
    grid-column: 5 / 8;
    grid-row: 3 / 4;
}
.requirements {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
}

footer {
    margin-top: 2em;
    height: auto;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    grid-column: 1 / -1;
    justify-content: space-evenly;


    background-image: radial-gradient( rgba(variables.$background-color, 1) 10%, rgba(variables.$heading-color, 0.4));

    a {
        margin: auto 2em;
    }
}
