@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:wght@300&family=Koulen&family=Permanent+Marker&display=swap');

$primary-color: rgb(61, 66, 61);
$header-color: rgb(19, 19, 22);
$heading-color: rgb(43, 239, 36);
$text-color: white;
$background-color: rgb(40, 37, 37);

$font-koulen: 'Koulen', cursive;
$font-bebas: 'Bebas Neue', cursive;
$font-jost: 'Jost', sans-serif;
$font-permanent: 'Permanent Marker', cursive;